@model RealEstateAuction.DataModel.ChangePasswordModel
@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
    ViewData["Title"] = "Đổi mật khẩu";
}
<h2>Thay đổi mật khẩu</h2>
<hr>
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    <div class="row">
        <div class="col-6">
            <div class="input-group mt-3">
                <span class="input-group-text">Mật khẩu cũ</span>
                <input type="password" name="Password" class="form-control">
            </div>
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

            <div class="input-group mt-3">
                <span class="input-group-text">Mật khẩu mới</span>
                <input type="password" name="NewPassword" class="form-control">
            </div>
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })

            <div class="input-group mt-3">
                <span class="input-group-text">Nhập lại mật khẩu mới</span>
                <input type="password" name="ReNewPassword" class="form-control">
            </div>
            @Html.ValidationMessageFor(model => model.ReNewPassword, "", new { @class = "text-danger" })

        </div>
    </div>
    <button class="btn btn-primary mt-3">Lưu lại</button>
}