@{
    Layout = "~/Views/Shared/Layout02.cshtml";
    ViewData["Title"] = "Reset Password";
}
<div class="container height-100 d-flex justify-content-center align-items-center">
    <div class="position-relative">
        <div class="card p-2 text-center">
            <h6>
                Reset Password
            </h6>
            <div>
                <span>Enter your new password here</span>
            </div>

            <form action="reset-password" method="post">
                <div id="otp" class="inputs">
                    <input placeholder="New password" class="m-2 text-center form-control rounded" type="password" name="pwd" id="1stPwd"/>
                    <input placeholder="Re-enter new password" class="m-2 text-center form-control rounded" type="password" id="2ndPwd" />
                    <span style="color:red;display:none" id="error-message"></span>
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-danger px-4 validate" onclick="return validateForm()">Enter</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function validateForm() {
        var password1 = document.getElementById("1stPwd").value;
        var password2 = document.getElementById("2ndPwd").value;
        var errMessage = document.getElementById("error-message");

        if (password1 !== password2) {
            errMessage.innerHTML = "Mật khẩu nhập lại không khớp!";
            errMessage.style.display = "block";
            return false;
        }
        return true;
    }
</script>